#choose-crust{
    min-height: 100vh;
    position: relative;

    background: url('../../images/choose-crust.jpg') no-repeat center;
    background-size: cover;
}


#choose-crust .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

#choose-crust main{
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3.92465vw 0;

    position: relative;
    z-index: 1;
}

#choose-crust main .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;
}

#choose-crust main .content h1{
    font-size: 3.92465vw;
}

#choose-crust main .content .grid-crusts-pizza{
    display: grid;
    grid-template-columns: repeat(2, 21.27159vw);
    gap: 4.70958vw;
    place-items: center;
    place-content: center;

    min-height: 60vh;
    width: 100%;
    margin: 3.92465vw 0;
    /* background: red; */
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza{
    height: 60vh;
    width: 100%;
    border-radius: 1.56986vw;
    border: 0.23548vw solid var(--gray-light);
    cursor: pointer;
    position: relative;
    padding: 1.56986vw;
    transition: 0.5s;
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza.active{
    border: 0.23548vw solid var(--secundary);
    transform: scale(1.1);
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza .icon-checked{
    position: absolute;
    right: -0.78493vw;
    top: -0.78493vw;
    background: #fff;
    border-radius: 50%;

    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza .icon-checked.active{
    opacity: 1;
    transform: scale(1);
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza .image-crust{
    height: 70%;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.56986vw;
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza .image-crust img{
    position: absolute;
    width: 75%;
    height: 75%;
    object-fit: contain;
    animation: none;
    pointer-events: none;
    user-select: none;
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza .extra-cost{
    min-height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red; */
    border-top: 0.07849vw solid var(--gray-light);
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza .extra-cost h2{
    font-size: 2.51177vw;
    opacity: 0.8;
    margin-bottom: 0.54945vw;
}

#choose-crust main .content .grid-crusts-pizza .box-crust-pizza .extra-cost span{
    font-size: 2.11931vw;
    font-weight: 700;
}